/* You can add global styles to this file, and also import other style files */
header {
    display: flex;
    justify-content: left;
    background-color: lightblue;
    list-style: none;
}

.header-item {
    font-size: small;
    font-weight: bolder;
    background-color: lightblue;
    padding: 0.5rem;
    border-style: none;
}

.header-item:hover {
    background-color: lightgreen;
}