<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Development details</title>
    </head>
    <body>
        <h1>About the author</h1>
        <p>This product was originally initiated and built by Vlad Korol in 2022. With this project,
            he strived to make a user-friendly service for software engineers that would simplify their
            work and provide them with everything they need in one service. This is why the service has 
            grown up into the following features:</p>
        <h5>For testers:</h5>
        <ul>
            <li>rich bug tracker</li>
            <li>communication line with developers</li>
            <li>blazing notifications that appear right when progress was made</li>
        </ul>
        <h5>For developers:</h5>
        <ul>
            <li>highlighting code editor</li>
            <li>complete review of codebase</li>
            <li>simple bug review</li>
        </ul>
        <h5>For project managers:</h5>
        <ul>
            <li>tools for managing projects configurations, members, access and other permissions.</li>
            <li>complete review of the codebase</li>
        </ul>
        <h1>Acknowledgements</h1>
        <p>This project was possible because of the incredible tools that were created before
            by hundreds of developers. The gratitude goes to:</p>
        <ol>
            <li>Visual Studio Code and its verity of extensions;</li>
            <li>GitHub Codespaces and Copilot;</li>
            <li>Angular team;</li>
            <li>and my dear senior friend <a href="github.com/kKapalka">Kamil</a>.</li>
        </ol>
        <footer>
            <ul>
                <li><p>Spider Web © 2022</p></li>
                <li><p>© Vlad Korol (<a href="github.com/ChocolateMagnate">@ChocolateMagnate</a>)</p></li>
            </ul>
        </footer>
    </body>
</html>