@tailwind base;
@tailwind components;
@tailwind utilities;

.route {
    display: flexbox;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    order: 0;
    flex-direction: column;
}

.sidebar-item {
    border-style: solid;
    width: 170px;
    margin: 2px;
}




#sidebar-item:hover {
    background-color: aquamarine;
    border-color: aquamarine;
}

.repository {
    display: flex;
    order: 1;
    flex-direction: column;
    visibility: hidden;
}

.repository:checked {
    visibility: visible;
}