<main><div>
    <h1 class="welcome center"><i>Welcome to Spider Web!</i></h1>
    <p class="welcome-text">The place where IT innovators can connect and build powerful
      meaningful applications that can change the world.
    </p>
  </div>
  <div class="hidden">
    <h3 class="center">You are not a worker. . .</h3>
    <h2 class="center">You are:</h2>
    <ul>
      <li>an architect</li>
      <li>a desiger</li>
      <li>a game changer</li>
      <li><b>a sweetheart.</b></li>
    </ul>
  </div>
  <div class="hidden grad3">
    <p class="welcome-text">We strive to create a simple, intuitive, outstanding
      codespace where your team can create and share their work while being nurtured 
      by a community of like-minded people.
    </p>
    <h3>We believe in Spider Web because:</h3>
    <ul>
      <li>you can <b>customise user-experience</b> on the go as you wish</li>
      <li>you can <b>develop in a private enviornment</b> of project</li>
      <li>you can <b>quickly manage and notify</b> members and notificatins</li>
      <li>you have <b>everything</b> from highlighting code base to bugtracker.</li>
    </ul>
  </div>
  <div class="hidden grad4">
    <form action="">
      <p>Join your team today and begin making memories~</p>
      <input class="form-item" type="text" name="username" placeholder="Username">
      <input class="form-item" type="password" name="password" placeholder="Password">
      <button class="form-item" (onclick)="onLogin()">Login</button>
    </form>
    <p>Difference begins with you.</p>
  </div>
</main>