
body {
    margin: 0%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grad1 {
    background: linear-gradient(to bottom, lightblue, lightgreen);
    width: 100%;
} .grad2 {
    background: lightgreen;
    width: 100%;
} .grad3 {
    background: lightgreen;
} .grad4 {
    background-color: blanchedalmond;
    width: 100%;
    justify-content: center;
    align-items: center;
}

form {
    background-color: blanchedalmond;
    padding: 1rem;
    margin-left: 23%;
    margin-top: 1%;
    border-style: solid;
    border-radius: 0.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.form-item {
    margin: 0.5rem;
    padding: 0.5rem;
    border-style: none;
}

#welcome {
    font-size: 32px;
    font-weight: bolder;
    color: rgb(206, 97, 152);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} .welcome-text {
    font-size: 19px;
    font-weight: 300;
    color: rgb(145, 61, 103);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
} .unfold {
    animation: to-right 5s ease 2s 5 normal forwards;
}

@keyframes to-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

footer {
    background-color: black;
    padding: 0.5rem 1rem;
    color: blanchedalmond;
}