<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <base href="/"> <!-- This is the base URL for the application. -->
  </head>
  <body id="start">
    <header>
      <button class="header-item" >Homepage</button>.
      <button class="header-item" (click) = "onDevelopment()">Development</button>
      <button class="header-item" (click) = "onProfile()">Profile</button>
      <button class="header-item" (click) = "onCode()">Code</button>
      <!--<img src="/webster/src/assets/download.png" alt="Twitter">
      <img src="/webster/src/assets/instagram-logo-A807AD378B-seeklogo.com.png" alt="Instagram">
      <img src="/workspaces/spider-web/webster/src/assets/discord-black-logo-733DD6B9B0-seeklogo.com.png"
          alt="Discord">-->
    </header>
    <router-outlet></router-outlet> <!-- All the content is there. -->
      <!--<img src="/webster/src/assets/notfound.jpg" alt="Not found">
      <img src="/webster/src/assets/laptops.jpg" alt="laplop">
      <img src="/webster/src/assets/every-day-is-a-new-start.jpg" alt="notebook">-->
 
  </body>
  <footer class="bg-fuchsia-700 green">
    <ul>
      <li><p>Spider Web © 2022</p></li>
      <li><p>© Vlad Korol (<a href="https://github.com/ChocolateMagnate">@ChocolateMagnate</a>)</p></li>
    </ul>
  </footer>
</html>