#animation {
    animation-name: [appear];
    animation-duration: 10s;
}

@keyframes appear {
    0% { opacity: 0; background-color: lightblue; }
    50% { opacity: 0.5; background-color: blue; }
    100% { opacity: 1; background-color: indigo; }
}