/*Top of the page */
header {
    background-color: lightblue;
    padding: 20px;
    text-align: space-between;
    font-size: 1.5em;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#about-us {
    background-color: lightblue;
    height: 40px;
    padding: 2px;
    text-align: center;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-style: none;
    padding-right: 0px;
}
#about-us:hover {
    background-color: lightgreen;
}

#development {
    background-color: lightblue;
    height: 40px;
    padding: 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    list-style: none;
    border-style: none;
}

#development:hover {
    background-color: lightgreen;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: black;
    color: aqua;
    padding: 20px;
    text-align: left;
}

form {
    background-color: lightgray;
    border-color: gainsboro;
    padding: 40px;
    height: 200px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.login {
    background: white;
    border-style: solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.menu {
    background: transparent;
    border-width: 4px;
    border-style: solid;
    color: white;
}

#capital {
    font-size: 25px;
    color: black;
}

#welcome {
    font-size: 25px;
    font-weight: 700;
    color: pink;
    align-items: center;
    justify-content: center;
}

#description {
    color: black;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}
