<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/spider-web/src/app/app.component.css">
    <title>Spider Web Homepage</title>
  </head>
  <body>
    <header><nav>
      <button class="menu">Homepage</button>
      <button class="menu"><a href="">Development</a></button>
    </nav></header>
    <main class="login">
      <form method="post">
        <h1 id="capital">Login</h1>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <label for="position">Position</label>
        <input type="text" name="position" id="position">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Login">
      </form>
    </main>
    <footer>
      <p>Copyright Vladyslav Korol
        (<a href="github.com/ChocolateMagnate">@ChocolateMagnate</a>)</p>
    </footer>
  </body>
</html>